{% extends "base.html" %}
{% block title %}Create Quiz{% endblock %}
{% block content %}
<div class="card bg-light text-dark p-4 mx-auto" style="max-width:600px;">
  <h3 class="text-center mb-3">Create New Quiz</h3>
  <form action="/upload_pdf" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label class="form-label">Quizz Name</label>
      <input type="text" name="Quiz_name" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Upload PDF</label>
      <input type="file" name="pdf_file" class="form-control" required>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">Number of Questions</label>
        <input type="number" name="num_questions" value="5" class="form-control">
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">Timer (Minutes)</label>
        <input type="number" name="timer_minutes" value="5" class="form-control">
      </div>
      <div class="form-group mt-3">
    <label for="usn_start">USN Range (Allowed Students)</label>
    <div class="row">
        <div class="col">
            <input type="text" name="usn_start" class="form-control" placeholder="Start USN (e.g. 3BR23AI001)" required>
        </div>
        <div class="col">
            <input type="text" name="usn_end" class="form-control" placeholder="End USN (e.g. 3BR23AI100)" required>
        </div>
    </div>
</div>


    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" name="is_shuffled" value="true">
      <label class="form-check-label">Shuffle Questions</label>
    </div>
    <button type="submit" class="btn btn-success w-100"><i class="bi bi-gear"></i> Generate Quiz</button>
  </form>
</div>
{% endblock %}